@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.footer-page{
    background: linear-gradient(180deg, #E8E9FD 0%, #FCFCFF 100%);
    /*opacity: 0.2;*/
    /*position: absolute;*/
    left: 0%;
    right: 0%;
    top: 82.26%;
    bottom: 9.8%;
    min-height: 464px;
    padding: 56px 150px;
}


.footer-title {
    font-family: Maven Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;

    color: #032041;
}

.footer-font-title-normal{
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 154%;
    /* or 25px */

    color: #032041;
}

.footer-font-normal{
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 120%;
    /* or 19px */
    /* Nature/Dark Grey */

    color: #727C88;
}

.font-normal{
    color: #032041;
}
